<h1> your caption: <%= @input_caption %></h1>

<h1>your source:  <%= @input_source %></h1>

<h1> look at your photo!!! </h1>

<h1><img src="<%=@input_source %>" width="300">

<h1><a href="http://localhost:3000/photos/">back to home</a></h1>
